<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243350996288-f7pm71u0v4mi6appu6h29ts8n0r82a74.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243350996288-f7pm71u0v4mi6appu6h29ts8n0r82a74</string>
	<key>API_KEY</key>
	<string>AIzaSyAr-HAZ18XTguJ-8Br2Bssti8UQQ1jy0UA</string>
	<key>GCM_SENDER_ID</key>
	<string>243350996288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.alhaider.CourseTimeline</string>
	<key>PROJECT_ID</key>
	<string>course-timeline</string>
	<key>STORAGE_BUCKET</key>
	<string>course-timeline.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243350996288:ios:626042a039543c83</string>
	<key>DATABASE_URL</key>
	<string>https://course-timeline.firebaseio.com</string>
</dict>
</plist>